/* Color Theme Swatches in Hex */
.SHINE-Web-Pallet-5-1-hex { color: #d5d8dd, #e4e6e9; }
.SHINE-Web-Pallet-5-2-hex { color: #5ca2be; }
.SHINE-Web-Pallet-5-3-hex { color: #0088B0; }
.SHINE-Web-Pallet-5-4-hex { color: #003747; }
.SHINE-Web-Pallet-5-5-hex { color: #989DA4; }

/*                                            */

/* Color Theme Swatches in Hex */
.Web-Design-1-hex { color: #0C4A79; }
.Web-Design-2-hex { color: #182B55; }
.Web-Design-3-hex { color: #32A2CB; }
.Web-Design-4-hex { color: #FCF9FF; }
.Web-Design-5-hex { color: #7D7F8A; }

/*                                            */

/* Color Theme Swatches in Hex */
.MONOGRAM-1-hex { color: #403E3F; }
.MONOGRAM-2-hex { color: #F2F2F2; }
.MONOGRAM-3-hex { color: #BFBFBF; }
.MONOGRAM-4-hex { color: #8C8C8C; }
.MONOGRAM-5-hex { color: #0D0D0D; }


